/* Display options */
.inline-block {display: inline-block !important; }
.display-none { display: none; }

/* Size options */
.height-10 { height: 10rem !important; }
.height-500 { height: 500px; }
.full-width { width: 100%; }

/* Margin options */
.no-margin { margin:0; }
.margin-t1 { margin-top: 1rem; }
.margin-t2 { margin-top: 2rem; }
.margin-t3 { margin-top: 3rem; }
.margin-r2 { margin-right: 2rem; }
.margin-r06 { margin-right: .6rem; }

/* Padding options */
.no-padding { padding: 0; }
.padding-3 { padding: 3rem; }

/* Font options */
.font-2 { font-size: 2rem; }
.justify { text-align: justify; }
.bold { font-weight: bold; }

/* Alignment options */
.text-center { text-align: center !important; }
.vertical-middle { display: inline-flex; vertical-align: middle; }

/* Positioning options */
.relative { position:relative; }
.bottom-fixed { position: absolute;bottom: 0;left: 0; }
.bottom-fixed-right { position: absolute;bottom: 0;right: 0; }

/* Disabled/enabled options */
.disabled{ pointer-events:none; opacity:0.4; cursor:pointer; }
.pointer { cursor: pointer; }