<div ng-controller='ExploreController as exploreCtrl' class='main-div'>
	 <div class="row">
		 	<div class="carousel">
				<a class="carousel-item"><img src="https://cdn.fstatic.com/media/movies/covers/2017/06/moonlight_ver2_xxlg.jpg"></a>
				<a class="carousel-item"><img src="https://cdn.fstatic.com/media/movies/covers/2011/06/183439621abd3d5d8dc791956715397b.jpg"></a>
				<a class="carousel-item"><img src="https://cdn.fstatic.com/media/movies/covers/2011/06/7c49092a6e7223cebd5bd8dfd579b6e6.jpg"></a>
				<a class="carousel-item"><img src="https://cdn.fstatic.com/media/movies/covers/2011/09/1deef33fa858cc141e7a4f954f9c1fdd.jpg"></a>
				<a class="carousel-item"><img src="https://cdn.fstatic.com/media/movies/covers/2010/12/5ecbe41ded5098d2dc80abdf835dfba0.jpg"></a>
				<a class="carousel-item"><img src="https://cdn.fstatic.com/media/movies/covers/2011/07/a7a2b44a16026c798c23af225a2b74d4.jpg"></a>
				<a class="carousel-item"><img src="https://cdn.fstatic.com/media/movies/covers/2011/06/17bad8ab7431afe2d5fe32b8ebbfccc6.jpg"></a>
				<a class="carousel-item"><img src="https://cdn.fstatic.com/media/movies/covers/2011/06/7c49092a6e7223cebd5bd8dfd579b6e6.jpg"></a>
			</div>
      </div>

      <div class=' padding-3'>
      	<div class='page-title font-15'>
			Mais assistidos
		</div>
		<div class='movies-template-container row'>
			<div class='movie-container col s2 text-center' ng-repeat="movie in exploreCtrl.watchedMovies">
				<a href='#/movieinfo/{{movie.MovieID}}'>
					<img class='movie-template-thumbnail' ng-src='{{movie.ImageUrl}}'/>
					<div class="overlay">
						<div class="movie-info">
							<div class='movie-title'>
								{{movie.Title}}
								<p class='movie-year'>{{movie.Year}}</p>
							</div>
							<div class='inline-block movie-stars'>
								<i class="material-icons movie-rate" ng-repeat="star in movie.Stars track by $index">{{star}}</i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
      </div>

      <div class=' padding-3 no-padding-top'>
      	<div class='page-title font-15'>
			Mais favoritados
		</div>
		<div class='movies-template-container row'>
			<div class='movie-container col s2 text-center' ng-repeat="movie in exploreCtrl.favoriteMovies">
				<a href='#/movieinfo/{{movie.MovieID}}'>
					<img class='movie-template-thumbnail' ng-src='{{movie.ImageUrl}}'/>
					<div class="overlay">
						<div class="movie-info">
							<div class='movie-title'>
								{{movie.Title}}
								<p class='movie-year'>{{movie.Year}}</p>
							</div>
							<div class='inline-block movie-stars'>
								<i class="material-icons movie-rate" ng-repeat="star in movie.Stars track by $index">{{star}}</i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
      </div>

</div>