<div ng-controller='HomeController as homeCtrl' class="main-div row">
	<div class='movie-container col s8ths text-center' ng-repeat="movie in homeCtrl.movies">
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' ng-src='{{movie.ImageUrl}}'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						{{movie.Title}}
						<p class='movie-year'>{{movie.Year}}</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate" ng-repeat="star in movie.Stars track by $index">{{star}}</i>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>