<div ng-controller='HomeController as homeCtrl' class="main-div">
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div><div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div><div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/1'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						The Godfather
						<p class='movie-year'>1972</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class='movie-container'>
		<a href='#/movieinfo/2'>
			<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
			<div class="overlay">
				<div class="movie-info">
					<div class='movie-title'>
						Fight Club
						<p class='movie-year'>1999</p>
					</div>
					<div class='inline-block movie-stars'>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star</i>
						<i class="material-icons movie-rate">star_half</i>
					</div>
				</div>
			</div>
		</a>
	</div>	
</div>