<div ng-controller='MoviesController as moviesCtrl' class="main-div">
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					The Godfather
					<p class='movie-year'>1972</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
				</div>
			</div>
		</div>
	</div>
	<div class='movie-container'>
		<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/b4563b6226b1b4783900007005d40113.jpg'/>
		<div class="overlay">
			<div class="movie-info">
				<div class='movie-title'>
					Eternal Sunshine of the Spotless Mind
					<p class='movie-year'>2004</p>
				</div>
				<div class='inline-block movie-stars'>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star</i>
					<i class="material-icons movie-rate">star_half</i>
				</div>
			</div>
		</div>
	</div>
	
</div>