<div ng-controller='MoviesController as moviesCtrl' class="main-div padding-3">
	<div class='page-title font-2'>
		{{moviesCtrl.category}}
	</div>
	<div class='movies-template-container row'>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/1'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							The Godfather
							<p class='movie-year'>1972</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/2'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							Fight Club
							<p class='movie-year'>1999</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star_half</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/1'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							The Godfather
							<p class='movie-year'>1972</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/2'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							Fight Club
							<p class='movie-year'>1999</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star_half</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/1'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							The Godfather
							<p class='movie-year'>1972</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/2'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							Fight Club
							<p class='movie-year'>1999</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star_half</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/1'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							The Godfather
							<p class='movie-year'>1972</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/2'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							Fight Club
							<p class='movie-year'>1999</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star_half</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/1'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							The Godfather
							<p class='movie-year'>1972</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/2'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							Fight Club
							<p class='movie-year'>1999</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star_half</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/1'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							The Godfather
							<p class='movie-year'>1972</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/2'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							Fight Club
							<p class='movie-year'>1999</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star_half</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/1'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							The Godfather
							<p class='movie-year'>1972</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/2'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							Fight Club
							<p class='movie-year'>1999</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star_half</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/1'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							The Godfather
							<p class='movie-year'>1972</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/2'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							Fight Club
							<p class='movie-year'>1999</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star_half</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/1'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/08/f623d26a6107a9cdbb2d805ed45675a6.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							The Godfather
							<p class='movie-year'>1972</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class='movie-container col s2 text-center'>
			<a href='#/movieinfo/2'>
				<img class='movie-thumbnail' src='https://cdn.fstatic.com/media/movies/covers/2011/06/f61a417411a0b4369a10d044bf669acc.jpg'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							Fight Club
							<p class='movie-year'>1999</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star</i>
							<i class="material-icons movie-rate">star_half</i>
						</div>
					</div>
				</div>
			</a>
		</div>
		
	</div>
	<!-- Pagination -->
	 <ul class="pagination text-center margin-t3">
	    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
	    <li class="active"><a href="#!">1</a></li>
	    <li class="waves-effect"><a href="#!">2</a></li>
	    <li class="waves-effect"><a href="#!">3</a></li>
	    <li class="waves-effect"><a href="#!">4</a></li>
	    <li class="waves-effect"><a href="#!">5</a></li>
	    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
	 </ul>
</div>