<div ng-controller='MoviesController as moviesCtrl' class="main-div padding-3">
	<div class='page-title font-2'>
		{{moviesCtrl.title}}
	</div>
	<div class='movies-template-container row'>
		<div class='movie-container col s2 text-center' ng-repeat="movie in moviesCtrl.movies">
			<a href='#/movieinfo/{{movie.MovieID}}'>
				<img class='movie-thumbnail' ng-src='{{movie.ImageUrl}}'/>
				<div class="overlay">
					<div class="movie-info">
						<div class='movie-title'>
							{{movie.Title}}
							<p class='movie-year'>{{movie.Year}}</p>
						</div>
						<div class='inline-block movie-stars'>
							<i class="material-icons movie-rate" ng-repeat="star in movie.Stars track by $index">{{star}}</i>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class='movies-template-container margin-t3' ng-class='moviesCtrl.divNoMoviesToDisplay'>
		Nenhum filme foi encontrado.
	</div>
	<!-- Pagination -->
	 <ul class="pagination text-center margin-t3" ng-model="currentPage" ng-show="moviesCtrl.numberOfPages > 0">
	    <li class='pointer' ng-class="moviesCtrl.paginationClasses[0]" ng-click="moviesCtrl.changePage(-1)" tabindex="-1">
	    	<i class="material-icons">chevron_left</i>
	    </li>
	    <li class="waves-effect" ng-repeat="i in moviesCtrl.pages track by $index" ng-click="moviesCtrl.changePage($index+1)" ng-class="moviesCtrl.pages[$index]">
	    	<span class='page-item'>{{$index+1}}</span>
	    </li>
	    <li class='pointer' ng-class="moviesCtrl.paginationClasses[1]" ng-click="moviesCtrl.changePage(0)">
	    	<i class="material-icons">chevron_right</i>
	    </li>
	 </ul>
</div>